<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Vnos stevil</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Pozdravljeni v generatorju loto stevil!</h1>
    <h2>Prosimo, vpisite koliko nakljucnih loto stevil zelite, da se vam izpise:</h2>

    <form method="post" action="/izpis_stevil">
        <label for="input_stevila">Stevila:</label>
        <input type="number" id="input_stevila" name="stevila">

        <br>

        <button type="submit">Izpisi</button>
    </form>
</body>
</html>